@charset "UTF-&";

body {font-family: "メイリオ","Hirgino Kaku Gothic Pro",sans-serif}

/*サイト名*/
.site h1 a {
    
}

/*768以上*/
@media(min-width:768px)
{
/*BOX1とBOX"を横に並べる*/
.boxA:after
 {content:" ";
    display: block;
    clear: both;
 }

.box1
 {float: left;
  width: 50%
 }

.box2
 {float: left;
  width: 50%
 }
}